*{
    margin:0;
    padding: 0;
    font-family: san-serif;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background:rgba(0, 0, 0, 0.5) url('ham.webp')  center center fixed;
    background-blend-mode:darken ;
    background-size: cover;
    background-position: center;
}
.main{
    padding: 0.8%;
}


.nava{
    padding: 24px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap
    
}
